* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0;
}

.game-text{
  font-size: x-large;
  font-family:'Trebuchet MS';
  text-align: center;
  font-weight: 1000 ;
}

.TButton{
  display: flex;
  align-items: center;
}

.square {
  background: #fff;
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  margin-right: 61px;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeff9;
  border-radius: 8px;
  margin: 5px;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
}

.toggle-btn{
  margin: 20px;
  background-color: #eaeff9;
  border :1px solid #000000;
  border-radius: 99px;
  width: 50px;
  height: 28px;
  transition: backgruond-color 0.1s ease,border-color 0.2s ease;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.784);
  position: relative;
}

.toggle-btn .circleRight{
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn .circleLeft{
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: calc(50px - 25px);;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn{
  background-color: #8594a4;
}

.content{
  display: flex;
  align-items: center;
}

.paint-mode{
  height:30px; 
  width:30px;
  background-color: #344862;
}